---
layout: "base.njk"
---

<section class="author-section">
  <h3 class="author-title">This is {{ name }}</h3>
  <img class="author-image" src="{{ image }}" alt="author image">
    <div class="author-content">{{ content | safe }}</div>
</section>

<section>
    <h3 class="text-center author-title mb-4">My recent content</h3>
    <div>
      {% set items = collections.post.concat(collections.blog) | filterByAuthor(name) %}
      {% include "poem_card_grid.njk" %}
    </div>
  </section>
