<div>
  <article class="snippet">
    <h5 class="snippet__title">
      <a href="{{ author.url }}">
        {{ author.data.name }}
      </a>
    </h5>
    <img src="{{ author.data.image }}" alt="poet cover image" class="snippet__image">
    <p class="snippet__body">{{ author.templateContent | truncate(100) | safe }}</p>
    <a href="{{ author.url }}" class="btn btn--primary">
      Continue Reading</a>
  </article>
</div>
