<footer>
  <ul class="footer-links">
    <li>
      <a href="/developers">About Us</a>
    </li>
  </ul>
  <div class="site-authors">
    Made with 💙 By
    <a target="_blank" href="https://github.com/Gabogogi">Bencity</a>
    &
    <a target="_blank" href="https://dev.petejames.me">Pete</a>
  </div>
</footer>
