<footer>
  <ul class="footer-links">
    <li>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
    </li>
  </ul>
  <div class="site-authors">
    Made with 💙 By Bencity & Pete
  </div>
</footer>
