<header class="header">
  <a href="/">
    <div class="logo">
      Sunday Nights
    </div>
  </a>
  <nav>
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/featured">Featured</a>
      </li>
      <li>
        <a href="/latest">Latest</a>
      </li>
      <li>
        <a href="/random">Random</a>
      </li>
      <li>
        <a href="/authors">Authors</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
    </ul>
  </nav>
  <script src="/assets/js/script.js"></script>
</header>
