<header class="header">
  <a href="/">
    <div class="logo">
      Sunday Nights
    </div>
  </a>
  <nav>
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/featured">Featured</a>
      </li>
      {# <li>
        <a href="/latest">Latest</a>
      </li> #}
      <li>
        <a href="/random">Random</a>
      </li>
      <li>
        <div class="dropdown show">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Topics
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for tag in collections.tagsList %}
              <a class="dropdown-item" href="/topics/{{ tag | slugify }}/">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      </li>
      <li>
        <a href="/authors">Authors</a>
      </li>
    </ul>
  </nav>
  <script src="/assets/js/script.js"></script>
</header>
