---
layout: base.njk
---

<section class="poem-section">
  <img class="poem-image" src="{{ image }}" alt="poem cover image">
  <h1 class="poem-title">{{ title }}</h1>
  <p class="poem-data">
    by {{ author }} on {{ date }}
  </p>
  <article class="poem-text">{{ content | safe}}</article>
</section>
