<div class="card hover-shadow-box-animation">
  <div class="hidden-link" style="display:none;">{{ item.url }}</div>
    <div>
      <img class="card-cover-image" src="{{ item.data.image }}" alt="cover" height="250">
    </div>
    <div class="card-content">
      <img src="{{ item.data.image }}" alt="avatar" class="card-avatar">
      <div class="mu">
        <a href="#" class="card-title">{{ item.data.title }}</a>
        <p class="card-poem-author">by {% include "author_url.njk" %}</p>
        <div class="card-poem-snippet">
          {{ item.templateContent | truncate(150) | safe }}
        </div>
      </div>
    </div>
  </div>
