<div class="card hover-shadow-box-animation">
  <div class="hidden-link" style="display:none;">{{ item.url }}</div>
  <div>
    <img class="card-cover-image" src="{{ item.data.image }}" alt="cover" height="250">
  </div>
  <div class="card-content">
    <p class="card-title">{{ item.data.name }}</p>
    <div class="card-poet-snippet">
      {{ item.templateContent | truncate(250) | safe }}
    </div>
  </div>
</div>
