---
layout: base.njk
---

<section class="poem-section" lang="sw">
  {# <img class="poem-image" src="{{ image }}" alt="poem cover image"> #}
  <h1 class="poem-title">{{ title }}</h1>
  <p class="poem-data">
    by {% include "author_url.njk" %}{% if date %}, {{ date | formatDate }}{% endif  %}
  </p>
  <article class="poem-text">{{ content | safe}}</article>

  {% set randomPost = collections.swahili | getRandom(page, tags, true) %}
  {% if randomPost %}
    <div class="random-recommendation">
      <p>
        Unaeza penda kusoma: <a href="{{ randomPost.url }}">"{{ randomPost.data.title }}"</a>
      </p>
    </div>
  {% endif %}
</section>
