
/*
------------------------
CSS RESETS
------------------------
*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
-------------------------
GLOBAL VARIABLES
-------------------------
*/
:root {
  --header-height: 50px;
}


body {
 /*  font-family: sans-serif; */
  font-family: 'Roboto', sans-serif;
  background-color: #f7efefa1;
  height: calc(100vh - var(--header-height));
}

main {
  display: flex;
  flex-direction: column;
  /* max-height: calc(100vh - var(--header-height)); */
  overflow: auto;
  margin-top: var(--header-height);
  height: 100%;
  width: 100%;

}


header {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(180deg, #e0f0ff, #ffffff); /* Light blue fading to white */
  border-bottom: 1.5px solid #7fa0ff;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #0066cc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header .logo{
  /* background-color: blue; */
  font-family: 'Great Vibes', cursive;
  font-weight: bolder;
  font-size: 1.5rem;

}

nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a, .footer-links a {
  color: inherit;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.3s;
}

.nav-links a:hover, .footer-links a:hover {
  background-color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #0066cc;
  margin: 4px 0;
  transition: 0.3s;
}

.page-titles {
  color: #0066cc;
  font-family: 'Dancing Script', cursive;
  font-size: 0.8 em;
  text-align: center;
  margin: 5px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}


/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
/*       background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%); */
    background: linear-gradient(180deg, #ffffff, #f0f0f0);
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      margin: 10px 0;
  }

  .hamburger {
      display: flex;
  }
}

.footer-links {
  list-style: none;
  color: inherit;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.3s;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  /* background-color: #0066cc; */
  width: 100%;
  padding-bottom: 10px;

  background: linear-gradient(180deg, #ffffff, #f0f0f0);
  color: #000;
  margin-top: auto;
}


/*
 -------------------------------
 pagination links
 -------------------------------

*/
a.pagination-link.active {
  border: 1px solid #000;
  border-radius: 5px;
}

.pagination {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  height: fit-content;
  gap: 10px;
  margin-bottom: 20px;
}

a.pagination-link {
  padding: 0px 5px 0px 5px;
  background-color: inherit;
}

/*
-------------------------
Loader animation
-------------------------
*/
.loader {
  border: 16px solid #f3f3f3;
  margin: auto;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown-menu .dropdown-item:hover {
  background-color: #e2f1ff;
}
