.blog-text {
  font-family: Merriweather, Georgia, serif;
  font-size: 17px;
  line-height: 1.7em;
  text-align: left;
  letter-spacing: normal;
  color: #1a1a1a;
}

.blog-text a {

  text-decoration: underline;
}