---
title: "Blog"
layout: "base.njk"
description: "Explore our blog's diverse topics on everything about art and writing."

pagination:
  data: collections.blog
  size: 12
  alias: posts
  reverse: true
permalink: "blog/"
---

<h1 class="page-titles">
  Blog Articles
</h1>
{% set items = posts %}
{% include "poem_card_grid.njk" %}
{% include "pagination.njk" %}
