---
layout: "base.njk"
---

<div class="error-404">
  <p class="error-description">The page you're looking for can't be found</p>
  <p class="error-code">404</p>
  <a href="/">
    <button type="button" class="btn btn-primary">Go back to home page</button>
  </a>
</div>
