---
title: "Developers"
layout: "base.njk"
description: "Meet and get to know the developers of the Sunday Nights website."
---
<section class="profile-section">
    <div class="profile-cards-container">
      <div class="profile-card">
        <div class="profile-image">
          <img src="/assets/images/authors/pete.webp" alt="Profile Picture">
        </div>
        <div class="profile-info">
          <h2>Pete</h2>
          <p>A chemist and software engineer, passionate about developing software that makes everyday life easier. Especially interested in web technologies and data science. You can reach out to him via</p>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/peter-ndungu-101/" class="social-icon"> <i class="fa fa-linkedin"></i>LinkedIn</a>
            <a href="https://github.com/PeteJames21" class="social-icon"> <i class="fa fa-github"></i>Github</a>
            <a href="https://x.com/PeterNdungu101" class="social-icon"> <i class="fa fa-twitter"></i>X</a>
          </div>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-image">
          <img src="/assets/images/authors/bencity2.jpeg" alt="Profile Picture 2">
        </div>
        <div class="profile-info">
          <h2>Bencity </h2>
          <p>A passionate engineer with an interest in technology, engineering, and literature. Enjoys tackling complex problems, design thinking, and the pursuit of wonder. Always eager to explore new technologies and creative outlets. You can reach out to him via:</p>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/benson-maina-a47b05295/" class="social-icon"> <i class="fa fa-linkedin"></i>LinkedIn</a>
            <a href="https://github.com/Gabogogi" class="social-icon"> <i class="fa fa-github"></i>Github</a>
            <a href="https://x.com/hey_bencity" class="social-icon"> <i class="fa fa-twitter"></i>X</a>
          </div>
        </div>
      </div>
    </div>
  </section>
