---
title: "Developers"
layout: "base.njk"
---
<section class="profile-section">
    <div class="profile-cards-container">
      <div class="profile-card">
        <div class="profile-image">
          <img src="https://picsum.photos/150" alt="Profile Picture 1">
        </div>
        <div class="profile-info">
          <h2>Pete</h2>
          <p>A passionate web developer with experience in creating dynamic websites and web applications. Loves coding and sharing knowledge with the community. You can reach out to him via</p>
          <div class="social-links">
            <a href="" class="social-icon"> <i class="fa fa-linkedin"></i>LinkedIn</a>
            <a href="https://github.com/PeteJames21" class="social-icon"> <i class="fa fa-github"></i>Github</a>
            <a href="" class="social-icon"> <i class="fa fa-twitter"></i>X</a>
          </div>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-image">
          <img src="https://picsum.photos/150" alt="Profile Picture 2">
        </div>
        <div class="profile-info">
          <h2>Bencity </h2>
          <p>An experienced graphic designer and illustrator, skilled in creating visually stunning designs. Enjoys working on creative projects and exploring new art techniques.You can reach out to him via</p>
          <div class="social-links">
            <a href="" class="social-icon"> <i class="fa fa-linkedin"></i>LinkedIn</a>
            <a href="https://github.com/Gabogogi" class="social-icon"> <i class="fa fa-github"></i>Github</a>
            <a href="" class="social-icon"> <i class="fa fa-twitter"></i>X</a>
          </div>
        </div>
      </div>
    </div>
  </section>