---
title: "Sunday Nights — Featured"
layout: "base.njk"

pagination:
  data: collections.featured
  size: 5
  alias: posts
  reverse: true
---

<h1 class="page-titles">
  ✨ Featured Poems ✨
</h1>
{% set items = posts %}
{% include "poem_card_grid.njk" %}

{% include "pagination.njk" %}
