---
layout: "base.njk"
---

<h3 class="page-titles">
  Explore featured poems:
</h3>
<div>
  {% for post in collections.posts | reverse %}
    {% include "poem_snippet.njk" %}
    <br>
  {% endfor %}
</div>
