---
title: "Featured Poems"
layout: "base.njk"
description: "Explore some of the best hand-picked poems from our library."

pagination:
  data: collections.featured
  size: 5
  alias: posts
  reverse: true
---

<h1 class="page-titles">
  ✨ Featured Poems ✨
</h1>
{% set items = posts %}
{% include "poem_card_grid.njk" %}

{% include "pagination.njk" %}
