---
title: "Sunday Nights —  Home"
layout: "base.njk"

pagination:
  data: collections.post
  size: 5
  alias: posts
  reverse: true
permalink: "{% if pagination.pageNumber > 0 %}index/page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

<h1 class="page-titles">
  Explore all poems:
</h1>
{% set items = posts %}
{% include "poem_card_grid.njk" %}

<nav class="pagination">
  {% if pagination.href.previous %}
    <a class="pagination-link" href="{{pagination.href.previous}}">Previous</a>
  {% endif %}

  {% set x = 1 %}
  {%- for link in pagination.hrefs %}
    {% if pagination.pageNumber == x - 1%}
      <a class="active pagination-link" href="#">{{ x }}</a>
    {% else %}
      <a class="pagination-link" href={{ link }}>{{ x }}</a>
    {% endif %}
    {% set x = x + 1 %}
  {% endfor -%}

  {% if pagination.href.next %}
    <a class="pagination-link" href="{{pagination.href.next}}">Next</a>
  {% endif %}
</nav>
