---
title: Home
layout: "base.njk"
---

<h3 class="page-titles">
  Explore all poems:
</h3>
<div>
  {% for post in collections.posts %}
    {% include "poem_snippet.njk" %}
    <br>
  {% endfor %}
</div>
