---
title: "Latest Poemss"
layout: "base.njk"
---

<h2 class="page-titles">
  Explore the latest poems:
</h2>
<div>
  {% for post in collections.post | reverse %}
    {% include "poem_snippet.njk" %}
    <br>
  {% endfor %}
</div>
