---
title: "Swahili Poems (Mashairi)"
layout: "base.njk"
description: "Explore the finest swahili poetry (shairi) from Kenya."

pagination:
  data: collections.randomizedSwahiliPoems
  size: 12
  alias: posts
  reverse: true
permalink: "swahili-poems/"
---

<h1 class="page-titles">
  Explore Swahili Poems (Mashairi)
</h1>
{% set items = posts %}
{% include "poem_card_grid.njk" %}

{% include "pagination.njk" %}
