---
title: "Swahili Poems (Mashairi)"
layout: "base.njk"
description: "Explore the finest swahili poetry (shairi) from Kenya."

pagination:
  data: collections.randomizedSwahiliPoems
  size: 12
  alias: posts
  reverse: true
permalink: "{% if pagination.pageNumber > 0 %}swahili-poems/page-{{ pagination.pageNumber + 1 }}/index.html{% else %}swahili-poems/index.html{% endif %}"
---

<h1 class="page-titles">
  Explore Swahili Poems (Mashairi)
</h1>
{% set items = posts %}
{% include "poem_card_grid.njk" %}
{% include "pagination.njk" %}
