---
layout: base.njk
pagination:
  data: collections.doublePagination
  size: 1
  alias: tag
permalink: /topics/{{ tag.tagName | slugify }}/{% if tag.pageNumber %}{{ tag.pageNumber + 1 }}/{% endif %}
---

<h1 class="page-titles">
   Poems About "{{ tag.tagName }}"
</h1>

{% set items = tag.pageData %}
{% include "poem_card_grid.njk" %}
{% include "tag_pagination.njk" %}
